<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
</head>
<body>
    <%- include('partials/header', {tituloweb: 'Super Heroes'}); %>
    
    <h3><%=nombre%></h3>
    <h4><%=bio%></h4>


    <%- include('partials/footer', {tituloweb: 'Footer Heroes'}); %>

</body>
</html>