<%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <main>
      <h2>En esta pagina vas a encontrar todos los autos de <%=marca%></h2>
      <h3>Para filtrar por año escribi el año en la url o clickea un auto con ese año!</h3>
      <h3>Nuestros autos:</h3>
    <% autis.forEach(autos => { %>
      <div style="border-style: solid">
        <h3><%=autos.marca%></h3>
        <h3><%=autos.modelo%></h3>
        <a href="/autos/<%=autos.marca%>/<%=autos.anio%>">
        <h3><%=autos.anio%></h3>
            </a>
        <h3><%=autos.color%></h3>
      </div>
      <br>
    <%})%>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>