<%- include('partials/head')  %> 
<body>
  
  <%- include('partials/header')  %> 
  <h1>Autos de la marca: <%=laMarca  %> </h1>
  <h2>Puede buscar todos los autos de un color o un año escribiendo en nuestra url:</h2>
  <h3>Por ej: 'localHost:3000/autos/ford/"2020"' O  'localHost:3000/autos/ford/"green"'</h3>
  <div class="contenedorCardAutos"><!-- esta clase se repite -->
    <% autosUnicos.forEach(auto => { %>
      <div class="cardAuto"><!-- esta clase se repite -->
        <div class="imgAuto"><!-- esta clase se repite -->
          <img src="/images/coche.png" alt="">
        </div>
        <div class="infoAuto"><!-- esta clase se repite -->
          <p>Marca: <%= auto.marca %> </p>
          <p>Modelo: <%= auto.modelo %> </p>
          <p>Año: <%= auto.anio %> </p>
          <p>Sucursal: <%= auto.nombreSucursal %> </p>
        </div>
      </div> 
    <% }) %>
  </div>
 
  <%- include('partials/footer')  %> 
</body>
</html>