<%- include('partials/head')  %> 
<body>
  
  <%- include('partials/header')  %> 
 <h1>Nuestros autos</h1>

 <div class="contenedorCardAutos"><!-- esta clase se repite -->
  <% losAutos.forEach(auto => { %>
    <div class="cardAuto"><!-- esta clase se repite -->
      <div class="imgAuto"><!-- esta clase se repite -->
        <img src="/images/coche.png" alt="">
      </div>
      <div class="infoAuto"><!-- esta clase se repite -->
        <p>Marca: <a href="/autos/<%= auto.marca %>"><%= auto.marca %></a></p>
        <p>Modelo: <%= auto.modelo %> </p>
        <p>Año: <%= auto.anio %> </p>
        <p>Color: <%= auto.color  %> </p>
      </div>
    </div> 
  <% }) %>
</div><!-- este se repite -->
 
  <%- include('partials/footer')  %> 
</body>
</html>