<%- include('partials/head')  %> 
<body>
  
  <%- include('partials/header')  %> 
  <h1>Nuestas Marcas</h1>

  <div class="contenedorMarcas">
    <% marcas.forEach(element => { %>
      <div class="lasMarcas">
        <p>Marca: <a href="/marcas/<%= element %> "><%= element %></a></p>
        </div>
    <% }) %>
  </div>
  
  <%- include('partials/footer')  %> 
</body>
</html>