<%- include('partials/head')  %> 
<body>
  
  <%- include('partials/header')  %> 
  <h1>Autos de la marca: <%=marca  %> </h1>
<span>Nota: en esta vista se eliminaron los autos repetidos</span>
  <div class="contenedorCardAutos">
    <% autosUnicos.forEach(auto => { %>
      <div class="cardAuto">
        <div class="imgAuto">
          <img src="/images/coche.png" alt="">
        </div>
        <div class="infoAuto">
          <p>Marca: <%= auto.marca %> </p>
          <p>Modelo: <%= auto.modelo %> </p>
          <p>Año: <%= auto.anio %> </p>
        </div>
      </div> 
    <% }) %>
  </div><!-- este se repite -->
  
  <%- include('partials/footer')  %> 
</body>
</html>