<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <style>
    body {  
      /* display: flex; */
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color:rgba(255,255,255,0.95);
    }
    </style>
    <title>Login con Node + JWT + MySQL</title>
  </head>
  <body>

<div class="container">
    <div class="row">
        <div class="col-lg-12 shadow-lg p-3 mb-5">

          <div class="card border-primary">
            <div class="card-header bg-primary text-white">Registrarse</div>
            <div class="card-body text-primary">
              <form action="/register" method="POST" enctype="multipart/form-data"> <!-- importante que este el ENCTYPE para la subida de archivos -->        
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre completo</label>
                    <input id="name" name="name" type="text" class="form-control" aria-describedby="emailHelp" value="<%= locals.old && old.name ? old.name : null %>">  <!-- con esto hacemos que se vea lo que anteriormente se escribio en el registro -->            
                    <% if (locals.errors) { %>
                      <% errors.forEach(error => { %>
                         <span class="text-danger"><%- error.param === "name" ? error.msg : null %> </span> <!-- mostramos en especifico el mensaje de error -->
                      <% }) %>
                     <% } %>
                  </div>
                <div class="mb-3">
                    <label for="user" class="form-label">Cuenta de usuario</label>
                    <input id="user" name="user" type="text" class="form-control" value="<%= locals.old && old.user ? old.user : null %>">
                    <% if (locals.errors) { %>
                      <% errors.forEach(error => { %>
                         <span class="text-danger"><%- error.param === "user" ? error.msg : null %> </span>
                      <% }) %>
                     <% } %>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="text" class="form-control" value="<%= locals.old && old.email ? old.email : null %>">
                    <% if (locals.errors) { %>
                      <% errors.forEach(error => { %>
                         <span class="text-danger"><%- error.param === "email" ? error.msg : null %> </span>
                      <% }) %>
                     <% } %>
                  </div>
                <div class="mb-3">
                  <label for="avatar" class="form-label">Avatar</label>
                  <input id="avatar" name="avatar" type="file" class="form-control"> <!-- agregar el input de tipo file para la subida de archivos -->
                  <% if (locals.errors) { %>
                    <% errors.forEach(error => { %>
                       <span class="text-danger"><%- error.param === "avatar" ? error.msg : null %> </span>
                    <% }) %>
                   <% } %>
                   <div id="preview">

                   </div>
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Password</label>
                    <input id="pass" name="pass" type="password" class="form-control" value="<%= locals.old && old.pass ? old.pass : null %>">
                    <% if (locals.errors) { %>
                      <% errors.forEach(error => { %>
                         <span class="text-danger"><%- error.param === "pass" ? error.msg : null %> </span>
                      <% }) %>
                     <% } %>
                  </div>                            
            </div>
            <div class="card-footer bg-transparent border-primary">
              <a href="/" type="button" class="btn btn-secondary">Cancelar</a>
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
            </form>
          </div>   
    
        </div>
    </div>
</div>

 
    
    <script src="js/bootstrap.bundle.min.js"></script>
   <!--  <script type="text/javascript">

      function validarExt() {
        let archivo = document.getElementById('avatar');
        let archivoRuta = archivo.value;
        let extPermitidas = /(\.|\/)(png|jpeg?x|jpg)$/i;

        if(!extPermitidas.exec(archivoRuta)){
          alert('Solo se pueden cargar archivos JPG, JPEG, PNG');
          archivo.value = '';
          return false
        }else{
          if(archivo.files && archivo.files[0]){

            let visor = new FileReader();
            visor.onload = function(e){
              document.getElementById('preview').innerHTML = 
              '<embed src="'+e.target.result'" width="150px" height="150px">'
            }
            visor.readAsDataURL(archivo.files[0]);

          }
        }
    </script>
      } -->


    
  </body>
</html>