<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <header>
        <%- include('partials/header'); %>
    </header>

<!-- vista renderizada del json -->
    <% heroes %>
<% heroes.forEach(heroe =>{ %>
<ul>
<li><%= heroe.id %></li>   
<li><%= heroe.nombre %></li>
<li><%= heroe.profesion %></li>
<li><%= heroe.pais %></li>
<li><%= heroe.resenia %></li>
</ul>
<% }) %>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>