<%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <main>
        <p>Hola mi nombre es <%=herou.nombre%> <%=herou.resenia%></p>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>

