<%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <main>
      <p>hola soy heroe <%=herou.nombre%> y mi profesion es <%=herou.profesion%></p>
      <p>para ver mi biografia hace click <a href="/heroes/<%=herou.id%>/ok">Acá</a></p>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>

