
<body>
  
  
 <h1>Estos son nuestros autos:</h1>
 
  
  <% Autos.forEach(element => { %>
  
      <h4><%=element.modelo  %> </h4>
      <p><%=element.marca  %> </p>
      <p><%=element.anio  %> </p>
      <p><%=element.color  %> </p>
    </div>
    
  <% }) %>

</div>
<%- include('partials/footer') %>
</body>
</html>