<%- include('partials/head') %>

<body>
<h1> <% title %></h1>


<h2>Más información sobre nuestras sucursales:</h2>
<% concesionarias.forEach(sucursal => { %>
  

  <ul>
    <li>
    <%- sucursal.sucursal%>
    <%- sucursal.direccion %>
    <%- sucursal. telefono %>
  </li>
  </ul>

<% }) %>
<%- include('partials/footer') %>
</body>
