<%- include("partials/head")  %> 
<body>
    <%- include("partials/header") %> 
    <% if (estado == 'ok') { %>
        <h1><%= heroe.nombre %> </h1>
        <h2><%= heroe.resenia %> </h2> 
    <% } else { %>
        <h1>el Heroe <%= heroe.nombre %> dice que lamenta que no quieras ver su bio </h1>
    <% } %> 
    <%- include("partials/footer")  %> 
</body>
</html>