<%- include('partials/head')  %> 
<body>
  <%- include('partials/header')  %> 
  <h1>detalle de un personaje </h1>
  <h2>Nombre: <%= elPersonaje.nombre %> </h2>
  <h3>Actor de doblaje para latam: <%= elPersonaje.actorDeDoblaje %> </h3>
  <h4>Tipo: <%= elPersonaje.especie %> </h4>
  <h5>informacion: <%= elPersonaje.informacion %> </h5>
   
  <%- include('partials/footer')  %> 
</body>
</html>