<%- include('partials/indexHead'); %> <!-- HEAD -->

<%- include('partials/indexHeader'); %> <!-- HEADER -->

<div class="container-fluid">
  <div class="row">

    <%- include('partials/indexNav'); %> <!-- NAVEGADOR -->
    <%- include('partials/indexMain'); %> <!-- Contenido principal   -->
    
  </div>
</div>

<%- include('partials/indexFooter'); %><!-- FOOTER -->