<%- include('partials/indexHead'); %><!-- HEAD -->

<%- include('partials/indexHeader'); %><!-- HEADER -->

        <div class="container-fluid">
            <div class="row">

                    <!-- NAVEGADOR -->
                    <%- include('partials/indexMain'); %>
                        <!-- Contenido principal   -->
                        <article>
                            <table class="table">
                                <thead class="table-dark ">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Ultima edicion</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>

                                <% users.forEach(user=> { %>
                                    <tbody>

                                        <th>
                                            <%= user.id %>
                                        </th>
                                        <td>
                                            <%= user.user %>
                                        </td>
                                        <td>
                                            <%= user.name %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <td>
                                            <%= user.updatedAt %>
                                        </td>
                                        <td><a class="btn btn-primary" href="editProfile/<%= user.id %> "
                                                role="button">Editar</a>
                                        </td>
                                        <td>
                                            <form action="/<%= user.id %>?_method=delete " method="post">
                                                <button class="btn btn-danger" type="submit">Eliminar</button>
                                            </form>
                                        </td>

                                    </tbody>
                                    <% }) %>
                            </table>

                        </article>
            </div>
        </div>

        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
            integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
            crossorigin="anonymous"></script>
        <script src="dashboard.js"></script>



        <%- include('partials/indexFooter'); %><!-- FOOTER -->