<%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <main>
        <h1>Biografía de <%=perso.nombre%>:</h1>
        <h2><%=perso.biografia%></h2>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>