<%- include('partials/head') %>
<%- include('partials/header') %>

  <h1>
    <%= title %>
  </h1>
  <h2>Estas son nuestras sucursales</h2>

  <% concesionarias.forEach(element=> { %>
    <h5><%= element.sucursal %> </h5>
    <% }) %>

      <%- include('partials/footer') %>