<%- include('partials/head') %>
<%- include('partials/header') %>
    <h1>
        <%= title %>
    </h1>

    <% modelo.forEach(element=> { %>
        <p><a href="/autos/<%= marca %>/<%= element %> ">
            <%= element %>
            </a>
        </p>
        <% }) %>

        <p> Cantidad de modelo : <%= modelo.length %> </p>
            <%- include('partials/footer') %>