<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
       <h1>
            <%= titulo %> 
        </h1>
        <img src="/images/404.gif" alt="logo-error" id="error">
        <h3>
            <%= descripcion %> 
        </h3>
    </main>
    <%- include('partials/footer') %>  
</body>
</html>