<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <div style="height: 387px; margin-left: 20px;">
    <h1>
    Bienvenido a la concesionaria Arbi
  </h1>
  <p>
    Elige algunas de nuestras concesionarias y ve los autos que cada una de ellas contiene
  </p>
  <% concesionaria.forEach(sucursal => { %> <!-- con un forEach podemos hacer que recorra todo el objeto y guarde de cada elemento la sucursal marcada en el json -->
   <a href="/sucursales/<%= sucursal.sucursal %> "><%= sucursal.sucursal %> </a>
  <% }) %>
  </div>
  
  <%- include('partials/footer') %> 
</body>
</html>