<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    
   <%- include('partials/header') %> 

<section style="margin-left: 20px;">
   <h1> <%= brand %>  </h1> 
   <div>
    <% autosArray.forEach(elemento => { %>
     <p>
        <%= elemento.marca %> 
     </p>
     <p>
        <%= elemento.modelo %> 
     </p>
     <p>
        <%= elemento.anio %> 
     </p>
     <p>
        <%= elemento.color %> 
     </p>
     <div>
      <img src="<%= elemento.img %> " alt="" style="width: 25%;">
    </div>
    <% }) %>
    
   </div>
</section>
<%- include('partials/footer') %> 
</body>
</html>