<%- include("partials/head") %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to <%= title %>
        </p>

        <h1> <%= personaje.nombre %> </h1> 
        <p> <%= personaje.detalles %>  </p>

    </body>

    </html>