<%- include('partials/head'); %>
    <!-- partial head -->

    <%- include('partials/header'); %>
        <!-- partial header -->

        <article>
            <div class="containerHeroes">
                <% heroes.forEach(element=> { %>
                    <a href="/heroes/<%= element.id %>/bio ">
                        <div class="cardHeroes cardHeroes<%= element.id %> ">
                            <div class="border">
                                <h2 class="tituloHeroesh2">
                                    <%= element.nombre %>
                                </h2>
                            </div>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </article>


        <%- include('partials/footer'); %>
            <!-- partial footer -->