<%- include("partials/head", {title:"heroes"}); %>

<body>
<%- include("partials/header", {title:"nuestra página héroes"}); %>


<% heroes %>
<% heroes.forEach(heroe =>{ %>
<ul>
<li><%= heroe.id %></li>   
<li><%= heroe.nombre %></li>
<li><%= heroe.profesion %></li>
<li><%= heroe.pais %></li>
<li><%= heroe.resenia %></li>
</ul>
<% }) %>

<%- include("partials/footer", {title:"Footer de página Héroes"}); %>



</body>



