<head>
    <%- include('partials/head', {title:"personajes"}) %>
</head>

<body>
    <header>
        <%- include('partials/header', {title:"personajes"}) %>
    </header>

    
    <p> Hola soy: <%= jason.nombre %> </p>
    <p><img width=150px height=150px src="<%= jason.Img %>"></p>                   


<%- include('partials/footer') %>
</body>